:root {
    --kubaVP1: #092331; 
    --kubaVP2: #12505f; 
    --kubaVP3: #209a95; 
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-align: center;
    transition: 0.2s ease-in-out;
}


body {
    background-color: var(--kubaVP1);
    color: var(--kubaVP3)
}


#content {
    padding-top: 105px;
}

#nav {
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    background-color: var(--kubaVP2);
}

#navpack {
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
}

a {
    text-decoration: none;
    color: var(--kubaVP3);
}

a:hover {
    color: var(--kubaVP3L15);
    cursor: pointer;
}

#logo-text {
    text-align: left;
    float: left;
    position: relative;
  }

  #logo-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 40%;
    width: 130%;
    height: 3px; /* Rozmiar paska */
    background-color: var(--kubaVP3L30); /* Kolor paska */
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  #logo-text:hover::after {
    transform: translateX(-50%) scaleX(1);
  }

#wyszukiwarka {
    float: right;
    margin-right: 25px;
    margin-top: 10px;

}

#szukaj {
    width: 100%;
    background-color: var(--kubaVP1);
    color: var(--kubaVP3);
    padding: 10px;
    border-radius: 15px;
    border-color: var(--kubaVP3);
}

.alert {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: calc(1% + 15px);
    top: 0;
    padding: 20px;
    border: 3px solid purple;
    border-radius: 15px;
    z-index: 1000;
    animation: 5.1s ease-in 0s ag1;

}
@media (max-width: 1000px) {
    .alert {
        top: 100%;
        animation: 5.1s ease-in 0s ag2;
    }
}

@media (max-width: 525px) {

    #content {
        padding-top: 160px;
    }
    #logo {
        text-align: center;
        float: none;
    }
    #logo-text {
        float: none;
        text-align: center;
    }

    
  #logo-text:hover::after {
    transform: translateX(-50%) scaleX(1);
  }

  #logo-text::after {
    width: 50%;
    transform-origin: center;
    left: 50%;
  }

    #wyszukiwarka {
        float: none;
        width: calc(100% - 20px);
        margin-right: 0;

    }
}

#navmenu {
    display: none;
}

#navmenu-d {
    display: block;
}

#poradnik-content {
    width: 96%;
    padding: 2%;
}

@media (min-width: 1200px) {
    #navmenu {
        display: block;
        width: 20%;
        float: left;
        min-height: 1px;
    }
    #navmenu-d {
        display: none;
    }
}

#szukaj:focus {
    font-size: 32px;
    background-color: var(--kubaVP3);
    border-color: var(--kubaVP3L15);
    color: var(--kubaVP1);
    outline: none;
}

#loginpanel {
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    padding: 40px;
    border-radius: 15px;
    margin: auto;
    border-color: rgba(0, 0, 0, 0);
    border-style: inset;
}

.border-done {
    border-color: rgb(19, 112, 19);
    animation-name: bdb1;
    animation-duration: 5s;
}

.border-error {
    border-color: rgb(202, 16, 16);
    animation-name: bdb2;
    animation-duration: 5s;

}
@keyframes bdb2 {
    0% {
        border-color: rgb(202, 16, 16, 0);
    }
    5% {
        border-color:rgb(202, 16, 16, 1);
    }
    80% {
        border-color: rgb(202, 16, 16, 1);
    }
    100% {
        border-color: rgb(202, 16, 16, 0);
    }
    }

@keyframes bdb1 {
0% {
    border-color: rgb(19, 112, 19, 0);
}
5% {
    border-color: rgb(19, 112, 19, 1);
}
80% {
    border-color: rgb(19, 112, 19, 1);
}
100% {
    border-color: rgb(19, 112, 19, 0);
}
}

.LRGI {
     width: 100%;
     background-color: var(--kubaVP1);
     color: var(--kubaVP3);
     padding: 2px;
     border-radius: 3px;
     border-color: var(--kubaVP3);
}

.LRGI:focus {
    font-size: 16px;
    background-color: var(--kubaVP3);
    border-color: var(--kubaVP3L15);
    color: var(--kubaVP1);
    outline: none;
}

.LRGBI {
    position: relative;
    width: calc(100% + 8px);
    background-color: var(--kubaVP1);
    color: var(--kubaVP3);
    padding: 2px;
    border-radius: 3px;
    border-color: var(--kubaVP3);
}

.LRGBI:hover {
    background-color: var(--kubaVP3);
    color: var(--kubaVP1);
    padding: 2px;
    border-radius: 5px;
    border-color: var(--kubaVP2);
}



@keyframes ag1 {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    20% {
        transform: translateY(calc(1% + 100px));
        opacity: 1;
    }
    80% {
        transform: translateY(calc(1% + 100px));
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes ag2 {
    0% {
        transform: translateY(101%);
        opacity: 0;
    }
    20% {
        transform: translateY(calc(-101% - 15px));
        opacity: 1;
    }
    80% {
        transform: translateY(calc(-101% - 15px));
        opacity: 1;
    }
    100% {
        transform: translateY(101%);
        opacity: 0;
    }
}

button:disabled {
    opacity: 0.5;
}


.project {
    padding: 25px;
    width: fit-content;
    background-color: var(--kubaVP2);
    border-radius: 15px;
    box-sizing: content-box;
    border: 2px solid var(--kubaVP3);
    margin: auto;    
    margin-top: 15px;
    color: var(--kubaVP3L50);
}

.projectList {
    margin-top: 2%;

}

.tabs1editmode {
    background-color: var(--kubaVP2);
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 15px;
    width: fit-content;
    color: var(--kubaVP3L50);
}

.otherFrom {
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    padding: 40px;
    border-radius: 15px;
    margin: auto;
    border-color: rgba(0, 0, 0, 0);
    border-style: inset;
}

.style_item {
    width: 180px;
    height: 180px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    display: inline-block;
    position: relative;
    vertical-align: top;

}

.style_list {
    margin: auto;
    width: fit-content;
}

.choose-bt {
    padding: 5px;
    font-size: 16px;
    color: var(--kubaVP3);
    background-color: var(--kubaVP2);
    border: 2px solid var(--kubaVP3L15);
    border-radius: 5px;
}

.btStylePosition {
    position: absolute;
    right: 12px;
    bottom: 12px;
}

.choose-bt:hover {
    cursor: pointer;
    color: var(--kubaVP3L30);
    background-color: var(--kubaVP2L30);
    border: 2px solid var(--kubaVP3L45);
}

hr {
    color: var(--kubaVP2);
    min-width: 250px;
    max-width: 50%;
    margin: auto;
}